.kill {
    display: flex;
    border-color: aliceblue;
    border-style: double;
    margin-left: 10%;
    margin-bottom: 10px;
    margin-top: 30px;
    background-color: rgb(240, 243, 45);
    color: rgb(0, 0, 0);
    
}
.hide {
  display: none;
  margin: auto;
}


.kill:hover>.hide  {
background-color: red;
animation: grow 0.5s 3ms ;
display: block;
color: aliceblue;
height: 50px;

}


@keyframes grow {
    0%, {
        transform: scale(1);
      }
      25% {
        transform: scale(1.4);
      }
      50% {
        transform: scale(1);
      }
      75% {
        transform: scale(1.2);
      }
      1000% {
        transform: scale(1);
}



}